 
.navbar {
  background-color: #5cae76;  
  border-bottom: 1px solid #7ff01dc6;  
}

.navbar-brand {
  font-size: 1.5rem;  
}

.navbar-nav-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  margin: 0 15px;  
  font-size: 1rem;  
}

.btn-primary {
  margin-left: 15px;  
}
